PORT=4000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/manishvaghasiya
SMTP_USER=your@gmail.com
SMTP_PASS=your-app-password
ADMIN_EMAIL=manish@manishvaghasiya.com
ADMIN_KEY=your-secret-admin-key-here
